$main-color: #22272E;
$secondary-color: #B0D1FF;
$main-font-color: #E9F2FF;
$secondary-font-color: #7D7D7D;

@mixin left-border($border-size) {
    &::before {
        content:" ";
        width: 5px;
        height: $border-size;
        background: $secondary-color;
        display: inline-block;
        margin: 0px calc($border-size / 2) calc($border-size / 4 * -0.7)  0px ;
    }
}