@use "../styles/variables";

nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    min-height: clamp(10svh, 15svh, 20svh);
    border-bottom: 5px solid variables.$secondary-color;

    #name-container {
        display: flex;
        flex-direction: row;
        padding: 0px 0px 0px 25px; 
        justify-content: space-between;
        align-items: center;
        font-size: clamp(1rem, 1.5rem, 2rem);
    }

    #main-link-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        min-width: 50vw;

        & > a {
            text-decoration: none;
            font-weight: 800;
            font-size: 1.5rem;
            color: variables.$secondary-font-color;
            transition: 0.5s;
        }

        & > a.active {
            font-size: 24px;
            letter-spacing: 6px;
            color: variables.$main-font-color;
        }

        & > :hover {
            color: variables.$hovered-font-color;
            transition: 0.5s;
        }
    }

    ul { // For mobile navbar
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 0.5rem;
        padding: 0;
        min-width: 50vw;
        transition: 0.5s;

        & > a {
            text-decoration: none;
            font-weight: 800;
            font-size: clamp(0.5rem, 1.25rem, 1.5rem);
            color: variables.$secondary-font-color;
        }

        & > a.active {
            letter-spacing: 6px;
            color: variables.$main-font-color;
        }

        & > :hover {
            color: variables.$hovered-font-color;
            transition: 0.5s;
        }
    }

    #nav-menu-button {
        display: none;
        margin-right: 1rem;
        align-self: center;
        font-size: clamp(30px, 50px, 70px);
    }
}


@media (max-width: 700px) {
    nav {
        flex-direction: column;
        justify-content: space-between;

        #main-link-container {
            display: none;
        }

        ul {
            display: flex;
        }
    
        #nav-menu-button {
            display: flex;
            justify-self: center;
        }
    }
}